export PATH=$PATH:${PWD}/bin
export BOSH_CONFIG="${PWD}/.bosh_config"

export BOSH_AWS_ACCESS_KEY_ID=FIXME
export BOSH_AWS_SECRET_ACCESS_KEY=FIXME
export BOSH_LITE_SECURITY_GROUP=FIXME-sg-123456
export BOSH_LITE_KEYPAIR=FIXME-keypair
export BOSH_LITE_PRIVATE_KEY=FIXME-local-path
export BOSH_LITE_SUBNET_ID=FIXME-subnet-123456
export BOSH_LITE_INSTANCE_TYPE=m3.2xlarge
